.p-paginator {
  font-size: 13px;
}

@media (min-width: 768px) {
  .p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th,
  .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
    border: 1px solid #e4e4e4;
  }

  .p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    padding: 15px 10px;
    font-size: 15px;
  }

  .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
    padding: 7px 10px;
    font-size: 14px;
  }
  .p-paginator {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
  }
}
